{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<title>Final Degree Project</title>
		<link rel="icon" type="image/x-icon" href="https://lh3.googleusercontent.com/pw/ADCreHfQvqozCFjwOm3EXkAahfkQW4-kyKtq17RelUznhJU3bEhCEMwO0zDD0ZKzEEeryKmZR7jV0h_enMb9L0lvQ5yTSZvX9dMoizjhh0yGbbPNFlMhbXmDcMV7EuRNpvOyU8yHQ56si1Tu9AKZ4O6e4b8=w522-h725-s-no-gm?authuser=0">
	</head>
	<body>
		<div style="background-color: black; width: 40%; margin: auto; transform: translate(0, 8%); font-size: 0.8em; padding: 2vw; overflow-wrap: break-word;">
			<br>
			<h2>Final Degree Project</h2>
			<br>
			<img src="https://lh3.googleusercontent.com/pw/ADCreHefWWvoomeqfIPib3vIc3GbIQ0PtZsw4T67JGBL-YC7jr_0k4ADqh4JyAEt8BSSczOE-bodvSXTkKHpnjVNP17Vq1rUsHKdCzd6Fvse8FBCGCeIpJJrCfW21RZPjBBtWpeP53ejB1vwDF1TGylAgI0=w880-h630-s-no-gm?authuser=0" class="WebImage">
			<h3>Short description</h3>
			<p>A pipeline to perform variant calling on regions with high homology to a pseudogene.
</p>
			<fieldset style="background-color: white; border: none; height: 0.1vh;"></fieldset>
			<h3>Link to GitHub</h3>
			<a href="https://github.com/OSCAR-CASALS/Final_degree_proyect-Variant-calling-in-highly-homologous-regions" target="_blank" rel="noopener noreferrer"><p>https://github.com/OSCAR-CASALS/Final_degree_proyect-Variant-calling-in-highly-homologous-regions</p></a>
			<fieldset style="background-color: white; border: none; height: 0.1vh;"></fieldset>
			<p></p>
			<br>
			<a href="{% url 'home' %}" class="BackButton">Back</a>
			<br>
		</div>
	</body>
</html>
