{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <title>Òscar Casals Morro Project Track</title>
        <link rel="icon" type="image/x-icon" href="https://lh3.googleusercontent.com/pw/ADCreHfQvqozCFjwOm3EXkAahfkQW4-kyKtq17RelUznhJU3bEhCEMwO0zDD0ZKzEEeryKmZR7jV0h_enMb9L0lvQ5yTSZvX9dMoizjhh0yGbbPNFlMhbXmDcMV7EuRNpvOyU8yHQ56si1Tu9AKZ4O6e4b8=w522-h725-s-no-gm?authuser=0">
        <script type="text/babel" src="{% static 'Mainjavascript.js' %}"></script>
    </head>
    <body>
        <div id="MainOfMains" style="min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%;"></div>
    </body>
</html>
