{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<title>Space Invaders</title>
		<link rel="icon" type="image/x-icon" href="https://lh3.googleusercontent.com/pw/ADCreHfQvqozCFjwOm3EXkAahfkQW4-kyKtq17RelUznhJU3bEhCEMwO0zDD0ZKzEEeryKmZR7jV0h_enMb9L0lvQ5yTSZvX9dMoizjhh0yGbbPNFlMhbXmDcMV7EuRNpvOyU8yHQ56si1Tu9AKZ4O6e4b8=w522-h725-s-no-gm?authuser=0">
	</head>
	<body>
		<div style="background-color: black; width: 40%; margin: auto; transform: translate(0, 8%); font-size: 0.8em; padding: 2vw; overflow-wrap: break-word;">
			<br>
			<h2>Space Invaders</h2>
			<br>
			<img src="https://lh3.googleusercontent.com/pw/ADCreHd9O9A8xxMrPvTjkt--jqwdsZWZ8PCBLhC2-xhMgo7TGfBp6rxhXcwPZpkltSLQb6nZlMn0NRlLAZF4WCwxlvs629sJ-vQla6DH8ka_iO5E2KLoMcBROdlsNZ8DptOZmZwAnpn86qs9BXv39UocFYU=w64-h63-s-no-gm?authuser=0" class="WebImage">
			<h3>Short description</h3>
			<p>First game I finished with SDL2. A simple clone of space invaders.
</p>
			<fieldset style="background-color: white; border: none; height: 0.1vh;"></fieldset>
			<h3>Link to GitHub</h3>
			<a href="https://github.com/OSCAR-CASALS/Space_invaders_clone" target="_blank" rel="noopener noreferrer"><p>https://github.com/OSCAR-CASALS/Space_invaders_clone</p></a>
			<fieldset style="background-color: white; border: none; height: 0.1vh;"></fieldset>
			<p></p>
			<br>
			<a href="{% url 'home' %}" class="BackButton">Back</a>
			<br>
		</div>
	</body>
</html>
